.bar.bar-header.bar-dark{
    height: 5%;
    width: 100%;
}
.form{
    top: 5%;
    height: 95%;
    width: 100%;
 }

.image{
    width: 100%;
    height: auto;
}

.button{
    position: absolute;
    top: 10.25%;
    left: 0;
    right: 0;
    bottom: 74%;
    background-color: rgba(96,96,96,0.85);
    color: white;
    text-align: center;
}

.button:hover {
    color:white;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}